*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fantasy';
    text-align: center;
    margin-top: 0.5rem;
}

h1{
    text-align: center;
    font-size: 3rem;
}

h3{
    text-align: left;
    font-size: 2rem;
}

.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 520px;
    top: 9rem;
    background: aqua;
    border: 2px solid black;
    padding: .5rem;
    box-shadow: 5px 10px grey;
}

.container table tr td{
    width: 90px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.slot{
    width: 90px;
    height: 90px;
    background-color: white;
    border: 1px solid black;
    border-radius: 60%;
}

.reset{
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    border-radius: 50%;
    width: 5rem;
    text-align: center;
    cursor: pointer;

}


